body {
    background-color: #FAFAFA;
    font-family: "ALK Rounded Nusx Med", sans-serif;
}

.conteiner{
    max-width: 1366px;
    width: 100%; 
    margin: 0 auto;
    position: relative;
}

/* ჰედერი */
header{
    max-width: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px 152px;
    border-radius: 30px;
    /* border-bottom: 3px solid red; */
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
}

.icons{
    display: flex;
    align-items: center;
    gap: 59px;
}

/* სექცია1 */

.section1{
width: 90%; 
height: 716px;
margin:  69px auto 154px auto;
/* border: 3px solid blue; */
position: relative;
padding-top: 110px;

}
.section1_img{
width: 100%;
height: 100%;

}

.section1_text{
    width: 339px;
    height: 89px;
    font-size: 24px;
    color: #fdf50e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

/* სექცია 2 */
.section2{
width: 90%;
margin: 0 auto 170px auto;

/* border: 3px solid green; */
}
h2{
    font-size: 28px;
    color: #111111;
    margin-bottom: 70px;
}
.cards{
width: 100%;
height: 467px;
display: flex;
justify-content: space-between;
}

.section2_div{
    width: 23%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.section2_img{
    width: 50%;
    /* border: 3px solid blue; */
}
.section2_gr_kg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 111px 30px 73px 30px;
}
.section2_gr{
    width: 105px;
    height: 35px;
    /* border: 3px solid sandybrown; */
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #f8f8f8;
    border-radius: 5px;
    


}
.section2_kg{
    width: 105px;
    height: 35px;
    display: flex;
    /* border: 3px solid sandybrown; */
    align-items: center;
    justify-content:center;
    background-color: #e7e7e7;
    border-radius: 5px;
}


.section2_buy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 31px 37px 31px;
    align-items: center;
}

.fasi{
font-size: 24px;
color: #111111;
}



.section2_buy i{
    background-color: #74b42c;
    padding: 10px;
}

/* footer */

footer{
    width: 90%;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    margin: 0 auto;
    border-radius: 30px;
    /* border-bottom: 3px solid red; */
    margin-bottom: 20px;
}
h3{
    font-size: 14px;
    margin-bottom: 45px;
}
.footer_nav{
    
    font-size: 12px;
   
}
.TL{
    margin-top: 26px;
    margin-bottom: 26px;
}